.accordion .row {
  margin-left: 20px;
  align-items: center;
}

h2 {
  color:lightcyan;
}


section.celestial {
  /* margin-left: 10px; */

  align-items: center;
  display: flex;
  
}

div.row {
  background-color: rgb(38, 45, 145);
}

.journal-entry {
  align-items: center;
  display: flex;
}
