.accordion .row {
  /* margin-left: 20px; */
  align-items: center;
}

h2 {
  color:lightcyan;
}

.celestial {
  /* margin-left: 10px; */
  align-items: center;
  display: flex;
}

.journal-entry {
  align-items: center;
  display: flex;
}
