
.modal-dialog{
  text-align: center;
  color: lightcyan;
  background-color: rgb(38, 45, 145);
  border-width: 10px;
  border-style: double solid solid double;
  text-align: center;
  border-radius: 10%;
  padding:30px;
  margin-top: 80px;
  margin-left: 360px;
}

div.modal-title {
  font-size: 30px;
  font-family: 'Bad Script';
}