.d-block  {
  /* max-height: 500px; */
  max-width: 300px;
  padding: 20px;
}

.carousel-caption button {
  margin: 10px
}

h5 {
  color:aliceblue;
}

div {
  color: aliceblue;
}

div.carousel-journal-entries.carousel.slide {
  width: 200px;
  height: 300px;

}

img.d-block.w-100 {
  width:300px;
}